<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Transfer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Data Bridge</h1>

    <!-- Upload Section -->
    <div class="container">
        <h2>Send File</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload File</button>
        </form>
        {% if upload_result %}
            <p>File uploaded! Share this code: {{ upload_result }}</p>
        {% endif %}
    </div>

    <!-- Download Section -->
    <div class="container">
        <h2>Receive File</h2>
        <form action="/download" method="POST">
            <input type="text" name="fileKey" placeholder="Enter the code" required>
            <input type="text" name="fileName" placeholder="Enter the original file name" required>
            <button type="submit">Download File</button>
        </form>
        {% if download_result %}
            <p>{{ download_result }}</p>
        {% endif %}
    </div>

    <!-- Footer Section -->
    <footer>
        <p>Developed by <a href="https://www.linkedin.com/in/mohit-rai-369595224/" target="_blank" rel="noopener noreferrer"><strong>Mohit Rai</strong></a></p>
    </footer>
</body>
</html>
